.container {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  background: url(https://bigdata-vn.com/wp-content/uploads/2021/10/1633867229_653_Background-book-%E2%80%93-Background-sach-dep-an-tuong-va-sang.jpg)
    fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
}
.header {
  background-color: rgb(27, 27, 27);
  opacity: 0.6;
position: relative;
  width: 100%;
  z-index: 9;
  .headerx {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 40px;
      display: flex;
      align-items: center;

      i {
        color: #fff;
        margin-right: 10px;
      }
      span {
        color: #fff;
      }
    }
    .listMenu {
      &-ul {
        display: flex;

        .menu {
          padding: 0 20px;
          font-weight: 500;
          a {
            color: #fff;
          }
        }
        .space {
          color: #fff;
        }
      }
    }
  }
}
// Style Đăng nhập
body {
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
//style đăng kí
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}
// style navBar
.content {
  display: flex;
  position: relative;
  .navBar {
    width: 250px;
    .container {
      .listOption {
        padding-top: 50px;
        background-color: #f8f9fa;
        padding-bottom: 50px;
        width: 250px;
        .liList {
          padding: 10px;
          a {
            font-size: 20px;
            font-weight: 700;
          }
          &:hover {
            cursor: pointer;
            background-color: rgb(196, 193, 193);
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .right {
    display: flex;
    position: absolute;
    left: 300px;
    .rightx {
      background-color: #f8f9fa;
      position: absolute;
      width: 900px;
      height: 500px;
    }
    .themTaiXe {
      // display: none;
    }
    .phanTuyen {
      // display: none;
    }
    .suaThongTin {
    }
  }
  .card {
    height: 100%;
  }
  .input-group-text {
    height: 38px;
  }
  .form-group {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
.container {
  .border {
    width: 700px;

    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    .dangki1 {
      width: 100%;
      position: absolute;
    }
    .dangki2 {
      width: 100%;
      display: none;
      position: absolute;
    }
    .dangki3 {
      width: 100%;
      display: none;
      position: absolute;
    }
  }
}
